@use '../abstracts' as *;

.grid {
    display: grid;
    gap: 1rem;

    &-cols-2 {
        grid-template-columns: repeat(1, 1fr);

        @include respond-to(tablet) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &-cols-3 {
        grid-template-columns: repeat(1, 1fr);

        @include respond-to(tablet) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &-cols-4 {
        grid-template-columns: repeat(2, 1fr);

        @include respond-to(tablet) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}