@use '../abstracts' as *;

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 32px;
    font-family: $font-display;
    font-size: 1.25rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid transparent;
    text-decoration: none;

    &-primary {
        background-color: $neon-cyan;
        color: black;
        box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
        transform: rotate(-2deg);

        &:hover {
            background-color: white;
            border-color: black;
            transform: scale(1.1) rotate(3deg);
        }
    }

    &-secondary {
        background-color: $neon-magenta;
        color: white;
        box-shadow: 4px 4px 0px 0px rgba(255, 255, 255, 0.5);
        transform: rotate(2deg);

        &:hover {
            background-color: black;
            border-color: $neon-magenta;
            transform: scale(1.1) rotate(-3deg);
        }
    }

    &-icon {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border: 2px solid white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        &:hover {
            transform: translateY(-5px) rotate(10deg);
        }
    }
}