@use '../abstracts' as *;

// Paint splatters for About section
.about-section {
    position: relative;

    .paint-splatter--about-1 {
        position: absolute;
        top: 10%;
        right: 5%;
        width: 268px;
        transform: rotate(23deg);
        opacity: 0.7;
        pointer-events: none;
        z-index: 1;
    }

    .paint-splatter--about-2 {
        position: absolute;
        bottom: 15%;
        left: 3%;
        width: 295px;
        transform: rotate(-32deg);
        opacity: 0.7;
        pointer-events: none;
        z-index: 1;
    }

    .paint-splatter--about-3 {
        position: absolute;
        top: 50%;
        right: 8%;
        width: 238px;
        transform: rotate(47deg);
        opacity: 0.7;
        pointer-events: none;
        z-index: 1;
    }

    .paint-splatter--about-4 {
        position: absolute;
        bottom: 40%;
        left: 15%;
        width: 278px;
        transform: rotate(-8deg);
        opacity: 0.7;
        pointer-events: none;
        z-index: 1;
    }

    .paint-splatter--about-5 {
        position: absolute;
        top: 20%;
        left: 12%;
        width: 248px;
        transform: rotate(34deg);
        opacity: 0.7;
        pointer-events: none;
        z-index: 1;
    }

    .paint-splatter--about-6 {
        position: absolute;
        bottom: 5%;
        right: 12%;
        width: 258px;
        transform: rotate(-43deg);
        opacity: 0.7;
        pointer-events: none;
        z-index: 1;
    }
}

// Paint splatters for Contact section
.contact-section {
    position: relative;

    .paint-splatter--contact-1 {
        position: absolute;
        top: 5%;
        left: 10%;
        width: 288px;
        transform: rotate(-27deg);
        opacity: 0.7;
        pointer-events: none;
        z-index: 1;
    }

    .paint-splatter--contact-2 {
        position: absolute;
        bottom: 20%;
        right: 5%;
        width: 315px;
        transform: rotate(38deg);
        opacity: 0.7;
        pointer-events: none;
        z-index: 1;
    }

    .paint-splatter--contact-3 {
        position: absolute;
        top: 40%;
        left: 5%;
        width: 255px;
        transform: rotate(-17deg);
        opacity: 0.7;
        pointer-events: none;
        z-index: 1;
    }

    .paint-splatter--contact-4 {
        position: absolute;
        bottom: 10%;
        left: 20%;
        width: 298px;
        transform: rotate(43deg);
        opacity: 0.7;
        pointer-events: none;
        z-index: 1;
    }

    .paint-splatter--contact-5 {
        position: absolute;
        top: 15%;
        right: 15%;
        width: 268px;
        transform: rotate(-37deg);
        opacity: 0.7;
        pointer-events: none;
        z-index: 1;
    }

    .paint-splatter--contact-6 {
        position: absolute;
        bottom: 35%;
        right: 20%;
        width: 245px;
        transform: rotate(22deg);
        opacity: 0.7;
        pointer-events: none;
        z-index: 1;
    }
}

// Responsive adjustments
@include respond-to(mobile) {

    .paint-splatter--about-2,
    .paint-splatter--about-4,
    .paint-splatter--about-6,
    .paint-splatter--contact-3,
    .paint-splatter--contact-5 {
        display: none;
    }

    .paint-splatter--about-1,
    .paint-splatter--about-3,
    .paint-splatter--about-5,
    .paint-splatter--contact-1,
    .paint-splatter--contact-2,
    .paint-splatter--contact-4,
    .paint-splatter--contact-6 {
        width: 145px;
    }
}