// _mixins.scss
// Mixins reutilizables

// Media Queries
@mixin respond-to($breakpoint) {
    @if $breakpoint ==mobile {
        @media (max-width: $bp-mobile) {
            @content;
        }
    }

    @else if $breakpoint ==tablet {
        @media (max-width: $bp-tablet) {
            @content;
        }
    }

    @else if $breakpoint ==desktop {
        @media (max-width: $bp-desktop) {
            @content;
        }
    }

    @else {
        @media (max-width: $breakpoint) {
            @content;
        }
    }
}

// Flexbox Center
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Container
@mixin container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 $spacing-sm;
}