@use '../abstracts' as *;

body {
    font-family: $font-body;
    background-color: $urban-dark;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-display;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.font-graffiti {
    font-family: $font-graffiti;
}